.container {
  max-width: 1400px;
  margin: o auto;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/style/images/cave.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  text-align: center;
}
