.container {
  max-width: 1400px;
  margin: o auto;
}
body {
  font-family: "poppins", sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/style/images/cave.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  text-align: center;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}
