.container {
  max-width: 1400px;
  margin: o auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: auto auto;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
body {
  font-family: "poppins", sans-serif;
  background: #00080a;
}
main {
  border-style: solid;
  border-width: 5px;

  background: linear-gradient(
    0.5turn,
    rgba(3, 3, 3) 1%,
    rgba(200, 186, 168),
    rgba(122, 115, 105),
    rgba(200, 186, 171),
    rgba(16, 16, 15)
  );
}
.text-center {
  text-align: center;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #091f26;

  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #091f26;
  margin: 0;
  text-shadow: antiquewhite 0px 1px 0px, #0b1f47 0px 2px 0px;
}
main h4 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: antiquewhite;
  text-shadow: #091f26 0px 1px 0px, #091f26 0px 2px 0px;
}
main h5 {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: antiquewhite;
  text-shadow: #091f26 0px 1px 0px, #091f26 0px 2px 0px;
}
main p {
  text-align: start;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/style/images/cave.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  text-align: center;
  background-position: center;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  text-shadow: 0px 1px 0px rgba(246, 226, 170, 0.89),
    0px 2px 0px rgba(246, 226, 170, 0.89), 0px 3px 0px rgba(246, 226, 170, 0.89);
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 30px 0;
  text-shadow: 0px 1px 0px rgba(246, 226, 170, 0.89),
    0px 2px 0px rgba(246, 226, 170, 0.89);
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a {
  color: #272044;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: antiquewhite;
  padding: 16px 32px;
  display: inline-block;
  margin-bottom: 5%;
  box-shadow: 0px 1px 1px rgba(19, 240, 230, 0.89),
    0px 2px 2px rgba(19, 19, 1, 0.89), 0px 3px 3px rgba(19, 19, 1, 0.893),
    0px 4px 4px rgba(19, 19, 1, 0.89), 0px 5px 0px rgba(19, 19, 1, 0.89);
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}
.section-button {
  color: #272044;
  border-radius: 9%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: antiquewhite;
  padding: 16px 32px;
  display: inline-block;
  margin-bottom: 5%;
  box-shadow: 0px 1px 1px rgba(152, 152, 95, 0.89),
    0px 2px 2px rgba(160, 160, 118, 0.89),
    0px 3px 3px rgba(141, 141, 109, 0.893),
    0px 4px 4px rgba(186, 186, 121, 0.89), 0px 5px 0px rgba(205, 205, 100, 0.89);
}

.hover-1 {
  background-image: linear-gradient(#0b1f47, #091f26);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.hover-1:hover {
  background-size: 100% 100%;
}
.img-responsive {
  max-width: 100%;
  display: block;
}
img {
  border-style: solid;
  border-color: rgb(157, 149, 137);
  border-width: 4px;
  border-radius: 2%;
  box-shadow: inset rgb(24, 20, 7);
}
.card {
  margin: 5px;
  padding: 0;
}
.card-body {
  background: #0f1414;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(157, 149, 137);
  border-top: none;
  padding: 25px;
}
.card p {
  color: rgb(157, 149, 137);
}
.card-footer {
  padding: 0px 10px 20px;
}
footer {
  color: antiquewhite;
  background-image: linear-gradient(
      0.5turn,
      rgba(0, 7, 7, 1) 10%,
      rgba(200, 186, 168, 0.1),
      rgba(0, 7, 7, 1)
    ),
    url(/style/images/footerimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0px 1px 0px rgba(19, 19, 1, 0.89),
    0px 2px 0px rgba(19, 19, 1, 0.89);
}
footer ul {
  padding: 03;
  text-shadow: 0px 1px 0px rgba(19, 19, 1, 0.89),
    0px 2px 0px rgba(19, 19, 1, 0.89);
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: rgba(254, 254, 254, 0.89);
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
